@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover{
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/* ==== variable define ==== */
:root {
    --primary-color: #A82C48;
    --secondery-color: #43121d;
    --third-color: #f98169;
    --wihte-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
    --primary-font: 'Titillium Web', sans-serif;
    --secondery-font: 'Caveat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

/* 
===================
custom Scrollbar
===================
*/

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: var(--wihte-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* 
===================
custom Css desing
===================
*/

h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--secondery-color);
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: var(--secondery-font);
    line-height: 3rem;
}